Repository mirage2012/jenkinstestfile: changes, and which Jenkins stages are due for each by the changed paths.
All: Deploy Index Templates, Deploy Elastic Roles, Deploy Elastic Role Mappings

Jenkinsfile:

pipeline {
    agent any
    
    options {
        buildDiscarder(logRotator(numToKeepStr:'20'))
        timeout(time:10, unit: 'MINUTES')
        disableConcurrentBuilds()
    }
    
    stages {
        stage('Deploy Index Templates') { 
            when {
                changeset "indexTemplates.sh"
            }
            steps {
                sh(./indexTemplates.sh)
            }
        }
        stage('Deploy Elastic Roles') {
            when {
                changeset "elasticRoles.sh"
            }
            steps {
                sh(./elasticRoles.sh)
            }
        }
        stage('Deploy Elastic Role Mappings') { 
            when {
                changeset "elasticRolemapping.sh"
            }
            steps {
                sh(./elasticRolemapping.sh)
            }
        }
    }
}

Create indexTemplates.sh
  indexTemplates.sh
Due: Deploy Index Templates

Create elasticRoles.sh
  elasticRoles.sh
Due: Deploy Elastic Roles

Create elasticRolemapping.sh
  elasticRolemapping.sh
Due: Deploy Elastic Role Mappings

Update Jenkinsfile
  Jenkinsfile
Due: none

Update indexTemplates.sh
  indexTemplates.sh
Due: Deploy Index Templates

execute permission
  elasticRolemapping.sh
  elasticRoles.sh
  indexTemplates.sh
Due: Deploy Index Templates, Deploy Elastic Roles, Deploy Elastic Role Mappings

Update elasticRoles.sh
  elasticRoles.sh
Due: Deploy Elastic Roles
