Repository mirage2012/jenkinstestfile: changes, and which Jenkins stages are due for each by the changed paths.
All: Deploy Index Templates, Deploy Elastic Roles, Deploy Elastic Role Mappings

Deploy Index Templates:
   
              steps {
                  sh(./indexTemplates.sh)
              }
          

Deploy Elastic Roles:
              steps {
                  sh(./elasticRoles.sh)
              }
          

Deploy Elastic Role Mappings:
   
              steps {
                  sh(./elasticRolemapping.sh)
              }
          

Update elasticRoles.sh
  elasticRoles.sh
Due: Deploy Elastic Roles

Update Jenkinsfile
  Jenkinsfile
Due: none

Update indexTemplates.sh
  indexTemplates.sh
Due: Deploy Index Templates

Rename elasticRoles.sh to elasticRoles.py
  elasticRoles.py
Due: none

Update elasticRoles.py
  elasticRoles.py
Due: none

Path conditions:
  Deploy Index Templates: any of: indexTemplates.sh
  Deploy Elastic Roles: any of: elasticRoles.sh
  Deploy Elastic Role Mappings: any of: elasticRolemapping.sh
